<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Food_Template Bootstrap Responsive Website Template | order page :: w3layouts</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--Animation-->
<script src="/static/js/wow.min.js"></script>
<link href="/static/css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
<script src="/static/js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script src="/static/js/tms-0.4.1.js"></script>
<script>
 $(window).load(function(){
      $('.slider')._TMS({
              show:0,
              pauseOnHover:false,
              prevBu:'.prev',
              nextBu:'.next',
              playBu:false,
              duration:800,
              preset:'fade',
              pagination:true,//'.pagination',true,'<ul></ul>'
              pagNums:false,
              slideshow:8000,
              numStatus:false,
              banners:false,
          waitBannerAnimation:false,
        progressBar:false
      })
      });

     $(window).load (
    function(){$('.carousel1').carouFredSel({auto: false,prev: '.prev',next: '.next', width: 960, items: {
      visible : {min: 1,
       max: 4
},
height: 'auto',
 width: 240,

    }, responsive: false,

    scroll: 1,

    mousewheel: false,

    swipe: {onMouse: false, onTouch: false}});


    });

     </script>
<script src="/static/js/jquery.easydropdown.js"></script>
<script src="/static/js/cookie.js"></script>
</head>
<body>
    <!-- header-section-starts -->
	<div class="header">
		<div class="container">
			<div class="top-header">
				<div class="logo">
					<a href="index"><img src="/static/images/logo.png" class="img-responsive" alt="" /></a>
				</div>
				<div class="queries">
					<p>Questions? Call us Toll-free!<span>1800-0000-7777 </span><label>(11AM to 11PM)</label></p>
				</div>
				<div class="header-right">
						<div class="cart box_1">
							<a href="/checkout">
								<h3> Rs.<span class="simpleCart_total" id="simpleCart_total">
									<script>
										if(getCookie('totalAmnt') == '')
											document.write("0.00");
										else
											document.write(getCookie('totalAmnt'));
									</script>
								</span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 
										<script>
										if(getCookie('orderList') == '')
											document.write("0");
										else
											document.write($.parseJSON(getCookie('totalAmnt')).length);
									</script>
								 </span> items)<img src="/static/images/bag.png" alt=""></h3>
							</a>
							<div class="clearfix"> </div>
						</div>
					</div>
				<div class="clearfix"></div>
			</div>
		</div>
			<div class="menu-bar">
			<div class="container">
				<div class="top-menu">
					<ul>
						<li><a href="/index">Home</a></li>|
						<li><a href="/restaurants">Popular Restaurants</a></li>|
						<li class="active"><a href="/order">Order</a></li>|
						<li><a href="/contact">contact</a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<div class="login-section">
					<ul>
						<li><a href="login">Login</a>  </li> |
						<li><a href="register">Register</a> </li> |
						<li><a href="#">Help</a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		</div>
	<!-- header-section-ends -->
	<!-- footer-section-starts -->
	<script>
	var orderList = [];
	$(document).ready(function() {
		$("#orderDiv").hide();
		var orderListCookie = getCookie('orderList');
		console.log("orderListCookie : " + orderListCookie ); 
		if(orderListCookie != "") {
			orderList = $.parseJSON(orderListCookie);
			console.log("orderList : " + orderList);
			console.log("rerenderTable");
			rerenderTable();
		} else {
			orderList = [];
		}
	});

	var add2cart = function(item,restaurant) {
		console.log('adding with res:' + restaurant);
		var i;
		for(i=0;i<orderList.length;i++) {
			if(orderList[i].name === item.ITEM_ID && orderList[i].restaurant == restaurant.NAME){
				orderList[i].quantity += 1;
				break;		
			}
		}

		if(i == orderList.length) {
			var order = {restaurant:restaurant.NAME,quantity:1, name:item.ITEM_ID ,cost:item.COST,restaurant_id:restaurant.ID};
			orderList.push(order);
		}
		rerenderTable();
	}

	var rerenderTable = function() {
		setCookie('orderList',JSON.stringify(orderList));
		var content = "<tr>"+
						"<th>Restaurant</th>"+
						"<th>Name</th>"+
						"<th>Quantity</th>"+
						"<th>Price</th>"+
					"</tr>";

		var totalAmnt = 0;
		for(var i=0;i<orderList.length;i++){
			content += "<tr><td>"+orderList[i].restaurant+"</td>"+"<td>"+orderList[i].name+"</td>"+
				"<td><a style='margin-right:3px;' href='javascript:decreaseQuantity("+" &quot;"+orderList[i].name+"&quot;"+")'><img src='/static/images/minus-logo.jpg' height='20px' width='20px'></a><b>"+orderList[i].quantity+"</b><a style='margin-left:3px;' href='javascript:increaseQuantity("+"&quot;"+orderList[i].name+"&quot;"+")'><img src='/static/images/plus-logo.jpg' height='20px' width='20px'></a></td>"+
				"<td>"+orderList[i].cost * orderList[i].quantity+"</td></tr>";
			totalAmnt += orderList[i].cost * orderList[i].quantity;
		}

		console.log(content);
		$("#orderTable").html(content);
		console.log('totalAmnt '+ totalAmnt);
		$("#simpleCart_total").html(totalAmnt);
		$("#simpleCart_quantity").html(orderList.length);
		setCookie('totalAmnt',totalAmnt);
		$("#orderDiv").show();
	}

	var increaseQuantity = function(item_name) {
		var i;
		console.log(item_name);

		for(i=0;i<orderList.length;i++) {
			if(orderList[i].name == item_name) 
				orderList[i].quantity += 1;
		}
		rerenderTable();
	}

	var decreaseQuantity = function(item_name) {
		var i;
		for(i=0;i<orderList.length;i++) {
			console.log(orderList[i]);
			if(orderList[i].name == item_name) {
				if(orderList[i].quantity > 1) {
				orderList[i].quantity -= 1;
				break;	
				}
				else{
					orderList.splice(i,1);
					break;
				}
			}
		}
		rerenderTable();
	}

	var placeOrder = function() {
		/*console.log('Placing Order with payload : ');
		
		var nameList = orderList.map(function(order) {
  			return order['name'];
		});

		var quantityList = orderList.map(function(order) {
  			return order['quantity'];
		});
		
		console.log(JSON.stringify(nameList));
		console.log(JSON.stringify(quantityList));

		var orderStringify = JSON.stringify(orderList);

		console.log(orderStringify);
		$.ajax({
           type: 'post',
           url: '/place_order',
           contentType: 'application/json',
           data: orderStringify,
           success: function (data) {
                       console.log('success');
           },
           error: function (data) {
           console.log('error');
           console.log(JSON.stringify(data));
          }
     });*/
		console.log(orderList);

		var username = getCookie('username');
		console.log("username is " + username);
		if(username != "") {
			$.ajax({
			  type: "POST",
			  url: '/place_order',
			  data: JSON.stringify(orderList),
			  success: function (res) {
	                       console.log('success');
	           },
	           error: function (res) {
	           console.log('error');
	           console.log(res);
	          }
			});
		}
		else {
			setCookie('orderList',JSON.stringify(orderList));
			window.location.href = '/login';
		}


		// $.post("/place_order", $.parseJSON(orderList));

		
	}


	</script>
	<div class="container">
		<br>
		<div class="col-md-8">
		<h3>{{restaurant.NAME}}</h3>
		</br>
			<table class=" table table-striped">
				<tr>
					<th>Cuisine</th>
					<th>Price</th>
					<th>Type</th>
					<th><img src="/static/images/bag.png"></th>
				</tr>
				{% for item in menu %}
				<tr>
					<td>{{item.ITEM_ID}}</td>
					<td>{{item.COST}}</td>
					<td>{{item.CUISINE_TYPE}}</td>
					<td><a href='javascript:add2cart({{item}},{{restaurant}})'><img src="/static/images/plus.jpg" height="30px" width="30px"></a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-4" id="orderDiv">
			<h3>Order</h3>
			</br>
			<table class="table table-striped" id="orderTable">
			</table>
				<!-- <form action="{{url_for('place_order')}}" method="['POST']">
				<input type="text" name="orderList" id="orderList"> -->
				<button type="button" class="btn btn-danger" onclick="location.href = '/checkout'"> Checkout</button>
				<button type="button" class="btn btn-primary" onclick="location.href = '/restaurants'"> Add from other restaurant</button>
			</br></br>	
			<table class="table"> 
			      <tr>
			        <td colspan="3"><strong style="color:#FF0000; font-size:16px;">Shipping Charges </strong></td>
			      </tr>
			      {% for restaurant in restaurants %}
			      <tr>
			        <td width="377">&nbsp;{{restaurant.NAME}}</td>
			        <td width="7">:</td>
			        <td align="center">{{restaurant.CHARGES}}</td>
			      </tr>
		      	  {% endfor %}	
			      <tr>
			        <td colspan="3">
			       <br>
			 		&nbsp;<b>Note :</b><br>
					<br>
					&nbsp;At time orders from two or more restaurants the shipping <br>
					&nbsp;charges would be first restaurant 100% and rest of the <br>
					&nbsp;restaurants 50%.applicable.</td>
			      </tr>
      		</table>
		</div>
			
		<br>
	</div>
	<br>
	<div class="footer">
		<div class="container">
			<p class="wow fadeInLeft" data-wow-delay="0.4s">&copy; 2014  All rights  Reserved | Template by &nbsp;<a href="http://w3layouts.com" target="target_blank">W3Layouts</a></p>
		</div>
	</div>
	<!-- footer-section-ends -->
	  <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>
